* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alpino", sans-serif;
  /* overflow-y: hidden; */
}

.list_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5vmin;
  margin-left: 4vmin;
  width: 95vw;
  height: 7vh;
  z-index: -1;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #ffffff;
}

.list_heading {
  display: flex;
  align-items: center;
  /* margin: 10px; */
}

.svg-icon {
  fill: #ffffff;
  /* Adjust fill color here */
  width: 5vw;
  margin-right: 1vw;
}

svg {
  width: 10vw;
  position: relative;
  bottom: 8px;
  /* color: #fff; */
  /* background-color: #fff; */
}
.article-div {
  flex: 1;
}

.list_inner {
  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid #ddd;
  /* Add border between each list item */
}

.list_inner:last-child {
  border-bottom: none;
  /* Remove border from the last list item */
}

.list_item {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.list_item {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.list_item {
  scrollbar-width: none;
  scrollbar-color: transparent;
  overflow-x: scroll;
  /* Enable horizontal scroll if content overflows */
  white-space: nowrap;
  /* Prevent text wrapping */
}

.red_circle {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  margin: auto;
}

.green_circle {
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
  margin: auto;
}

.list_top {
  display: flex;
  justify-content: space-between;
  /* Align items evenly */
  color: white;
  margin-top: 5vmin;
}

.list_heading {
  color: #fff;
  font-family: Rockwell;
  padding-top: 20px;
  padding-left: 30px;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
