.list_group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5vmin;
  margin-left: 4vmin;
  width: 95vw;
  height: 7vh;
  z-index: -1;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #ffffff;
}

list_item {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.list_item {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

.list_item {
  scrollbar-width: none;
  scrollbar-color: transparent;
  overflow-x: scroll;
  /* Enable horizontal scroll if content overflows */
  white-space: nowrap;
  /* Prevent text wrapping */
}

.list_inner {
  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid #ddd;
  /* Add border between each list item */
}

.list_inner:last-child {
  border-bottom: none;
  /* Remove border from the last list item */
}

.red_circle {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  margin: auto;
}

.green_circle {
  width: 20px;
  height: 20px;
  background-color: green;
  border-radius: 50%;
  margin: auto;
}

.top-div {
  padding-top: 2vmax;
}

.mid-div {
  padding-top: 2vmax;
}

.head {
  display: flex;
  align-items: center;
  justify-content: start;
  font-size: 1.5vmax;
}

.assess {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 0 6vmax;
}