* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alpino", sans-serif;
  /* overflow-y: hidden; */
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.heading {
  margin-top: 13vh;
  text-align: center;
  font-size: 2.7vmax;
  /* letter-spacing: 0.3vmax; */
  color: rgb(255, 255, 255);
}

.text {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  margin: auto;
  width: 45vw;
  margin-top: 13vh;
  text-align: center;
  font-size: 1.43vmax;
}

.start {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: #a841b8;
  color: rgb(255, 255, 255);
  filter: drop-shadow(0px 0px 52.7px rgba(0, 0, 0, 0.25));
  padding: 12px 18px;
  width: 15vw;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.3vmax;
  outline: none;
  border: none;
}

img {
  height: 30vh;
}

.img {
  display: flex;
  justify-content: space-between;
}
