.toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  z-index: 1;
}

.toggle-switch-checkbox {
  display: none;
}

.toggle-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 25px;
  transition: background-color 0.4s;
}

.toggle-switch-slider:before {
  position: absolute;
  content: '';
  height: 21px;
  width: 21px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s;
}

.toggle-switch-checkbox:checked + .toggle-switch-slider {
  background-color: #2196f3;
}

.toggle-switch-checkbox:checked + .toggle-switch-slider:before {
  transform: translateX(24px);
}
