.chatBtn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #d900ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.app-div {
  min-height: 100vh;
}

